visdom
scikit-video #==0.1.2
scikit-image
scikit-learn
imageio==2.22.2 # with other versinos, the gif visualization of visdom we designed breaks
plyfile
multiprocess
matplotlib
plotly
pyyaml
path.py
blessings
progressbar
pysrt
pathos
tqdm
pypng
GPUtil
p_tqdm
nbconvert
plotly
sorcery
simple_3dviz
dominate
gitpython
wandb
# pandas==1.1.4
# torch==1.13.1
opencv-python
soundfile

#for compatibility with low torch versions, that require PILLOW_VERSION
Pillow
# scipy==1.6.0
# the next of the packages oftentimes interfer with per project torch/numpy's..., 
# so we keep them as optional. To install them, go to requirement_extra.txt
# kornia
# seaborn
# librosa
